.places{
  max-width: 984px;
  margin: 91px auto 0;
  list-style: none;
  padding: 0;
}

@media(max-width:1279px){
  .places {
    max-width: 928px;
  }
}

@media(max-width:1023px){
  .places {
    max-width: 720px;
  }
}

@media(max-width: 767px){
  .places{
    max-width: 720px;
    margin-top: 64px;
  }
}