.lead{
  margin: 0 auto;
  margin-top: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 984px;
  /* box-sizing: border-box; */
}

@media(max-width: 1279px){
  .lead{
    margin-top: 45px;
    max-width: 928px;
  }
}

