.intro__text {
  max-width: 690px;
  margin: 0;
  margin-top: 40px;
  padding: 0;
  font-size: 16px;
  line-height: 1.63;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media (max-width: 767px){
  .intro__text{
    line-height: 1.62;
  }
}