.place__website {
  grid-area: website;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  -ms-grid-row-align: end;
      align-self: end;
}

@media (max-width:767px){
  .place__website {
    padding: 0 16px;
  }
}