.place__website {
  grid-area: website;
  display: flex;
  flex-direction: column;
  gap: 12px;
  -ms-grid-row-align: end;
      align-self: end;
}

@media (max-width:767px){
  .place__website {
    padding: 0 16px;
  }
}